<p>
    Proszę potwierdzić swój adres e-mail, klikając poniższy odnośnik: <br><br>
    <a href="{{ signedUrl|raw }}">Potwierdź adres e-mail</a>.
    Ten odnośnik wygaśnie za {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
